*{
    font-family: Century, serif;
    text-align: center;
    
}
footer, header{
    background-color: indigo;
    color: white;
    border: 0px;
    padding: 2px;
    width: 100%;
}
#main1, #main2, #main3, #main4{
    width: 50%;
    height: 470px;
    float: left;
}
img{
    padding: 3px;
    margin: 10px;
    border: 2px dotted slateblue;
}
a{
    color: white;
}
button{
    background-color: slateblue;
    color: white;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
button:hover{
    background-color: indigo;
}
input[type='range']{
    width: 80%;
}
footer{
    clear: both;
}
header{
    float: left;
}